* {
  font-family: arial, sans-serif;
}

body {
 text-align: center;
}

h1 {
  font-family: STLiti;
  font-weight: bold;
  font-size: 85px;
  color: #e33320;
  margin: 0;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.container {
  width: 100%;
}

.currentCircle {
  transition: 0.5s;
}

.victory-message {
  color: #32a852;
}

button {
  margin:  0 auto;
  display: none;
  font-size: 30px;
  padding: 5px;
  background-color: #e33320;
  color: #FFF;
  border-radius: 15% 15%;
}

button:hover {
  color: #d3eb21;
}
